*-nv
*-nv.*
*.hi
*.o
.local-config
.zeolite-cache
.zeolite-cache/*
/cabal.project
cabal.project.local
cabal.project.local~
core
dist
dist-newstyle
example/*/*Demo
example/highlighter/ZeoliteHighlight
src/unit-tests
tests/fast-static/Program
tests/leak-check/LeakCheck
tests/simulate-refs/SimulateRefs
tests/templates/Extension_*.cpp
zeolite
working/*
.RData
.Rhistory
FastTest
SortingTest
tests/freshness/*.0r?
tests/freshness/sub1/*.0r?
tests/freshness/sub2/*.0r?
